@model CodeTale.Models.Answer

@{
    ViewBag.Title = "WriteAnswer";
}

<h2>WriteAnswer</h2>

@{var user = HttpContext.Current.User.Identity.Name; }
@{int UserID = ViewBag.UserID;}
@{ int questionId = ViewBag.questionId; }

@ViewBag.UserID
@ViewBag.questionId

@using (Html.BeginForm("WriteAnswer", "SeeAnswers", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.TextAreaFor(model => model.AnswerStatement, new { @class = "form-controls", @placeholder = "Write Your Answer Here" });
    <br />
    @Html.ValidationMessageFor(model => model.AnswerStatement, "", new { @class = "text-danger" });
    <br />

    @Html.HiddenFor(model => model.QuestionId, new {QuestionId = questionId ,@class = "form-controls"});

    @Html.Hidden("UserID", UserID);


    <input type="submit" value="submit" />
}
